{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Para você meu amor!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'fernandaApp/assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Fernanda <p class="glyphicon glyphicon-heart"></h1>
				<nav>
					<ul>
						<li><a href="#intro">Uma homenagem especial, para uma pessoa especial!</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Oi! <p class="glyphicon glyphicon-heart"></h2>
					</header>
						<h1>Neste dia, há exatamente um ano atrás, eu iria me encontrar com a pessoa que mudaria minha vida.
						Porém, depois de um tempo, eu iria errar feio com esta mesma pessoa. Uma pessoa que me fez acreditar que o amor existe, uma pessoa que tem um coração enorme e merece todo o amor do mundo! E como um pedido de desculpas, quero te dizer algumas coisas que acho que são muito importantes para mim, e para você!</h1>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>O quanto você significa para mim?</h2>
					</header>
					<p>Muito. Mas muito mesmo. Eu amo quando você sorri, quando você olha para mim. Amo o quão sincronizado nós dois
					somos quanto a nossos gostos, amo suas piadinhas que me fazem rir feito bobo, amo estes olhos verdes que parecem ter
					um brilho fora do normal, amo reparar em tudo que você faz, e amo mais ainda quando ganho um abraço seu! <p class="glyphicon glyphicon-heart"></p></p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Porque eu fiz isso?</h2>
					</header>
					<p>Porque apesar de todos estes erros que cometi, eu gosto muito de você. Casais brigam, voltam, brigam novamente. Mas nunca deixam de se amar. E eu quero que nós sejamos este tipo de casal, que sempre vai se amar apesar de tudo o que acontecer. (PS. Não quero brigar com você :))</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Lembranças</h2>
						<p>Um dia lhe falei que se eu deixasse de gostar você, iria lembrar o porque um dia eu me interessei em você.
						Pois bem, nunca deixei de gostar de você, mas lembrei o porquê de eu ter gostado tanto assim de você desde o inicio...
						Nossas conversas na empresa que durava horas e sempre tinhamos assunto, nossos encontros que eu nunca queria que acabassem, e nossos risos por coisas bobas, tanta coisa em tão pouco tempo, mas que significam muito pra mim!</p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="images/fulls/01.jpg" class="image fit"><img src="{% static 'fernandaApp/images/thumbs/01.jpg' %}" title="The Anonymous Red" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/fulls/02.jpg" class="image fit"><img src="{% static 'fernandaApp/images/thumbs/02.jpg' %}" title="Airchitecture II" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/fulls/03.jpg" class="image fit"><img src="{% static 'fernandaApp/images/thumbs/03.jpg' %}" title="Air Lounge" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/fulls/04.jpg" class="image fit"><img src="{% static 'fernandaApp/images/thumbs/04.jpg' %}" title="Carry on" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="images/fulls/05.jpg" class="image fit"><img src="{% static 'fernandaApp/images/thumbs/05.jpg' %}" title="The sparkling shell" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="images/fulls/06.jpg" class="image fit"><img src="{% static 'fernandaApp/images/thumbs/06.jpg' %}" title="Bent IX" alt="" /></a>
							</article>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>E agora, por fim, o textinho.</h2>
					</header>
					<div class="box">
						<p>Agora chegou a hora de te escrever um daqueles textos que eu sempre adorei fazer pra ti. E desta vez começo com
						um pedido de desculpas. Fernanda Wagner, eu te peço desculpas. Eu agi sem pensar, eu agi feito idiota contigo, perdi a confiança que você tinha em mim. Estas desculpas não irão curar as feridas, mas eu admito meus erros, não tenho o porque de dizer que não errei, por que errei. 
						</p>
						<p>
						Não tenho mais motivos para esconder o meu amor por você, não quero mais esconder o que sinto. Todos os dias, quando levanto de manhã, a primeira pessoa que lembro é você, é você que eu quero mandar aquele bom diia bem animado, e contar que sonhei contigo durante a noite. Tudo o que você faz, tudo o que mexe comigo, mexe como se fosse a primeira vez, mexe como se não fizesse parte da minha rotina, mexe como se eu nunca tivesse sentido, como se eu nunca tivesse visto, como se eu nunca tivesse escrito. É como se, quando eu dormisse, todas as sensações que você causa fossem apagas e voltassem à medida que você respira perto de mim.
						Já tentei explicar como me sinto quando estou perto de você, mas é impossível, não há meio de te fazer entender a menos que trocássemos de corpos.
						Não entendo como eu achei, um dia, que se me afastasse de você, eu ficaria bem, porque eu realmente não fiquei. E decidi que eu não preciso me afastar de você, mas sim, estar com você e sentir toda essa sensação boa que só você me traz, e foi a melhor decisão da minha vida...
						</p>
						<h1>E por fim, te digo: Eu amo muito você! <h1 class="glyphicon glyphicon-heart"></h1></h1>
					</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Feito com muito Amor!</li><li>Feito por: <a href="">Maicon Fuck</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="{% static 'fernandaApp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/util.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/main.js' %}"></script>

	</body>
</html>