{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Para você meu amor!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'fernandaApp/assets/css/main2.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/"><h1>Fernanda <p class="glyphicon glyphicon-heart"></h1></a>
				<nav>
					<ul>
						<li><a href="#intro">Uma homenagem especial, para uma pessoa especial, novamente!</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<img src="{% static 'fernandaApp/images/Capa2.jpg' %}" style="width: 100%">
					</header>
						<h1></h1>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<img src="{% static 'fernandaApp/images/intro22.jpg' %}" style="width: 100%">
					</header>
						<h1></h1>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

					<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<img src="{% static 'fernandaApp/images/Traseira2.jpg' %}" style="width: 100%">
					</header>
						<h1></h1>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Feito com muito Amor!</li><li>Feito por: <a href="">Maicon Fuck</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="{% static 'fernandaApp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/util.js' %}"></script>
			<script src="{% static 'fernandaApp/assets/js/main.js' %}"></script>

	</body>
</html>